.bg-login-image {
    background: url("../img/bg-login.jpeg");
    background-position: center;
    background-size: cover;
  }

  .bg-register-image {
    background: url("../img/bg-register.jpg");
    background-position: center;
    background-size: cover;
  }

  .container-auth {
      height: 520px;
  }